body {
	overflow-x: hidden;
}



/* Toggle */

#wrapper {
	padding-left: 0;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 20em; /* (~ 250px) */
}

#sidebar-wrapper {
	position: fixed;
	left: 20em;
	width: 0;
	height: 100%;
	margin-left: -20em;
	overflow-y: auto;
	background: #000;
	transition: all 0.5s ease;
}

#sidebar-wrapper .row {
	margin: 0;
}

#sidebar-wrapper .col-lg-12 {
	padding: 0;
}

#wrapper.toggled #sidebar-wrapper {
	width: 20em;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
}

#wrapper.toggled #page-content-wrapper {
	margin-right: -20em;
}


/* Sidebar */

.sidebar-nav {
	top: 0;
	width: 20em;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav div {
	padding: 0;
}

.sidebar-nav a {
	text-decoration: none;
	color: #999999;
	padding: 0.5em;
	font-size: 1.75rem;
	text-shadow: 2px 2px black;
	width: 100%;
	height: 100%;
	text-align: center;
}
.sidebar-nav a:hover {
	color: white;
	background: rgba(255,255,255,0.2);
}


/* User box */

.user-thumb {
	padding: 1em;
	width: 8em;
	height: 8em;
}


/* Chat */

.chat-box {
	padding-top: 10px;
	padding-bottom: 10px;
}
.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
	color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.panel-body {
	overflow-y: scroll;
	height: 250px;
}


@media(min-width:768px) {
	#wrapper {
		padding-left: 20em;
	}

	#wrapper.toggled {
		padding-left: 0;
	}

	#sidebar-wrapper {
		width: 20em;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}

	#page-content-wrapper {
		position: relative;
	}

	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}