/*
	Accent color: Green (200, A400, A700)
	Primary color: Purple (50, 200, A400)
	See: https://material.io/guidelines/style/color.html#color-color-palette
*/

html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 5em;
	margin-bottom: 3.5em; /* Margin bottom by footer height */
}


a {
	color: #00e676;
}
a:hover,
a:active {
	color: #00c853;
}


.jumbotron {
	padding: 1em;
	overflow:hidden;
}

nav.navbar {
	background-color: #d500f9;
	border: 0;
}
nav.navbar li.active > a {
	background-color: rgba(0, 0, 0, 0.12);
}
nav.navbar a {
	color: white;
}
nav.navbar a:hover,
nav.navbar a:focus {
	background-color: rgba(0, 0, 0, 0.38);
}
nav.navbar input {
	border: 0 !important;
}

button.navbar-toggle {
	border-radius: 0.2rem;
	background-color: rgba(255, 255, 255, 0.5);
}
button.navbar-toggle:hover,
button.navbar-toggle:focus {
	background-color: rgba(255, 255, 255, 0.7);
}
button.navbar-toggle > .icon-bar {
	background-color: white;
}
input {
	box-shadow: none !important;
	border-radius: 0.2rem !important;
}
button {
	border: 1px solid transparent !important;
}
.input-group > input {
	border-radius: 2em 0 0 2em !important;
}
.input-group > .input-group-btn:last-child > .btn {
	border-radius: 0 2em 2em 0 !important;
}


.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5em;
	background-color: #f3e5f5;
}
.footer > .container > p {
	margin: 1em 0;
	color: #ce93d8;
}


#chat-wrapper {
	overflow: hidden;
	background: #444753;
	border-radius: 1rem;
	padding: 0;
}
#chat-wrapper ul {
	list-style-type: none;
	padding-top: 1em;
	margin: 0;
}


.people-list {
	width: 23em;
	height: 45em;
	float: left;
}

.people-list .search {
	position: relative;
	color: white;
}
.people-list input {
	border-radius: 0 !important;
	border: none;
	padding: 1em;
	background: #6A6C75;
	width: 100%;
	font-size: 1em;
}
.people-list .glyphicon-search {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 48px;
	width: 3rem;
	line-height: 48px;
}

.people-list ul {
	padding: 1em;
	overflow-y: auto;
	margin-bottom: 0;
	height: 100%;
	padding-bottom: 0;
}
.people-list ul li {
	padding: 1rem;
	border-radius: 1rem;
}
.people-list ul li.active {
	background-color: rgba(255, 255, 255, 0.2);
}
.people-list img {
	float: left;
	height: 2em;
	width: 2em;
}
.people-list .about {
	float: left;
	color: white;
	padding-left: 1em;
}
.people-list .status {
	color: rgba(255, 255, 255, 0.5);
}

.chat-holder {
	position: relative;
}

.chat-holder .chat-header {
	padding: 10px;
	padding-left: 5px;
	border-bottom: 2px solid white;
}
.chat-holder .chat-header i.fa-bars {
	display: none;
	position: relative;
	padding: 12.5px 12.5px;
	margin-top: -20px;
	margin-left: -20px;
	color: #080808;
	z-index: 1000;
	margin-right: 5px;
	float: left;
	text-align: center;
	border-radius: 100%;
	transition: 0.3s ease-in;
}
.chat-holder .chat-header i.fa-bars:hover {
	color: #333333;
}
.chat-holder .chat-header i.fa-bars .fa-bars.visible {
	display: block !important;
}
.chat-holder .chat-header img {
	float: left;
	margin-top: -1em;
}
.chat-holder .chat-header .chat-about {
	float: left;
	padding-left: 10px;
	margin-top: -12px;
	margin-left: 10px;
}
.chat-holder .chat-header .chat-with {
	font-weight: bold;
	font-size: 16px;
}
.chat-holder .chat-header .chat-num-messages {
	color: #92959E;
}
.chat-holder .chat-header .fa-star {
	float: right;
	color: #D8DADF;
	font-size: 20px;
	margin-top: 12px;
}

.chat {
	width: 58.42em;
	height: 45em;
	float: left;
	display: none;
	background: #F2F5F8;
	color: #434651;
}

.chat.active-chat {
	display: block;
}
.chat .chat-history {
	padding: 1em;
	padding-bottom: 0;
	border-bottom: 2px solid white;
}
.chat .chat-history ul {
	padding: 0;
	overflow-y: scroll;
	height: 32em;
}
.chat .chat-history .message-data {
	margin-bottom: 15px; /* seems unused */
}
.chat .chat-history .message-data-time {
	color: rgba(0, 0, 0 , 0.54);
	margin: 1em;
}
.chat .chat-history .message {
	color: white;
	padding: 1em;
	line-height: 20px;
	font-size: 15px;
	border-radius: 1rem;
	margin-bottom: 1em;
	width: 80%;
	position: relative;
}

.chat .chat-history .my-message {
	background: #86BB71;
}
.chat .chat-history .other-message {
	background: #94C2ED;
}

.chat .chat-message {
	padding: 15px;
}
.chat .chat-message textarea,
.chat .chat-message input {
	width: 100%;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	resize: none;
}
.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
	font-size: 16px;
	color: gray;
	cursor: pointer;
}
.chat .chat-message button {
	float: right;
	color: #94C2ED;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background: #F2F5F8;
}
.chat .chat-message button:hover {
	color: #75b1e8;
}
.online,
.offline,
.me {
	margin-right: 3px;
	font-size: 10px;
}
.online {
	color: #86BB71;
}
.offline {
	color: #E38968;
}
.me {
	color: #94C2ED;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.message-status {
	display: block;
}
.sidebar-visible {
	left: 0 !important;
}


/* Media query for Sidebar */

@media only screen and (max-width: 480px) {
	.chat .chat-header img {
		height: 35px;
		width: 35px;
	}
	.chat .chat-header .chat-about {
		padding-left: 5px;
	}
}
@media only screen and (max-width: 768px) {
	.chat-holder .chat-header i.fa-bars {
		display: block !important;
		margin-top: -20px !important;
	}
	.people-list {
		left: -220px;
		position: absolute;
		background-color: #333;
		width: auto;
		z-index: 1000;
		transition: 0.3s ease;
	}
	.container-fluid .chat {
		width: 100%;
	}
	.chat .chat-message {
		padding: 15px;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		background: #dddddd;
	}
	#message-to-send {
		width: 80%;
		margin: 0;
	}
	.chat-message {
		padding-right: 8.5px !important;
	}
	.chat-message button {
		padding: 10px 6.5px;
	}
	.footer {
		display: none;
	}
}
@media only screen and (min-width: 768px) {
	#chat-wrapper {}
	.user-action-icon {
		font-size: 2em;
		color: #7C4DFF;
	}
}
